.blog-item {
  border: 1px solid #e8e8eb;
  height: 100%;
  display: flex;
  flex-direction: column;

  .title {
    padding: 15px;
    min-height: 101px;

    a {
      display: flex;
      position: relative;
      font-size: 20px;
      line-height: 24px;
      color: rgba($black, 0.8);

      &:before {
        content: "";
        width: 13px;
        height: 13px;
        background-color: $blue1;
        border-radius: 2px;
        margin: 5px 8px 0 0;
        flex: 0 0 auto;
      }

      &:after {
        content: "";
        margin-left: auto;
        width: 30px;
        height: 30px;
        background: url(../img/bg/card-arrow.png) 50% no-repeat;
        flex: 0 0 auto;
      }

      span {
        display: block;
        margin: 0 50px 0 0;
      }
    }
  }

  .text {
    margin-top: auto;
    border-top: 1px solid #e8e8eb;
    padding: 15px;

    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
      line-height: 19px;
      max-height: 38px;
      color: $text1;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0 0;

      a {
        font-family: $font-family-mono;
        display: flex;
        margin: 12px 5px 0 0;
        align-items: center;
        padding: 0 9px 2px;
        height: 24px;
        border: 1px solid rgba($blue, 0.5);
        border-radius: 30px;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        color: $text1;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .title {
      padding: 19px;
      min-height: 0;

      a {
        font-size: 24px;
        line-height: 30px;

        &:before {
          width: 15px;
          height: 15px;
          margin: 8px 12px 0 0;
        }

        &:after {
          margin: 9px 5px 0 0;
        }

        span {
          margin: 0 60px 0 0;
        }
      }
    }

    .text {
      padding: 19px 19px 21px;
    }
  }
}
