.case-item {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(md) {
    &:nth-child(3),
    &:nth-child(4) {
      display: none;
    }
  }

  .case-item-image {
    border-radius: 8px;
    background: #e8e8eb;
    @include img-abs-container(106.28%);

    img {
      border-radius: 8px;
    }
  }

  .case-item-info {
    display: flex;
    padding: 20px 0 0;

    .image {
      flex: 0 0 auto;
      width: 70px;
      height: 70px;
      margin: 0 24px 0 0;

      img {
        @include img-fit;
        border-radius: 100%;
      }
    }

    .text {
      .title {
        font-size: 16px;
        line-height: 1.333;
        margin: 0 0 12px;
      }
      .position {
        font-size: 14px;
        line-height: 1.2;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .case-item-info {
      .image {
        width: 94px;
        height: 94px;
      }
      .text {
        .title {
          font-size: 18px;
        }
        .position {
          font-size: 14px;
        }
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    .case-item-info {
      .image {
        margin: 0 24px 0 0;
      }
      .text {
      }
    }
  }
}
