.content-nav {
  padding: 10px 10px 0.1px;
  margin: 100px 0 0;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;

  & + .block-team-single .block-team-single-intro {
    border-top: none !important;
  }

  .link-back {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    border: 1px solid #dcdcde;
    border-radius: 99px;
    height: 34px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: none;
    color: $black;
    white-space: nowrap;
    margin: 0 0 10px;

    img {
      margin: 0 16px 0 0;
      display: block;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0 10px 10px 0;
    }

    a {
      display: flex;
      align-items: center;
      padding: 0 8px;
      border: 1px solid #e0e0e1;
      border-radius: 2px;
      height: 29px;
      font-size: 14px;
      line-height: 17px;
      text-transform: capitalize;
      color: $black;
      white-space: nowrap;

      &:hover {
        background-color: $gray3;
        border-color: $gray3;
      }
    }
  }

  &--type1 {
    ul {
      li {
        margin: 0 12px 12px 0;
      }

      a,
      button {
        padding: 0 16px;
        border: 1px solid #dcdcde;
        border-radius: 99px;
        height: 34px;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.2;
        text-transform: none;
        color: $black;
        white-space: nowrap;
        background: none;

        &:hover,
        &.active {
          background-color: $black;
          border-color: $black;
          color: $white;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 11px 40px 12px;
    margin: 145px 0 0;

    .link-back {
      padding: 0 25px;
      height: 39px;
      font-size: 16px;
      margin: 0;

      img {
        margin: 0 26px 0 0;
      }
    }

    ul {
      display: inline-flex;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0 10.5px 0 0;
      }

      a {
        padding: 1px 10px;
      }
    }

    &--type1 {
      ul {
        a,
        button {
          padding: 0 25px;
          height: 39px;
          font-size: 16px;
        }
      }
    }
  }
}
