.jstyling-select {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  color: rgba($white, 0.3);
  height: 48px;
  width: 100%;
  max-width: 488px;
  cursor: pointer;

  .jstyling-select-s {
    padding: 0 40px 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      right: 24px;
      top: 50%;
      width: 0;
      height: 0;
      margin: -2px 0 0;
      transition: all 0.3s;
      font-size: 0;
      line-height: 0;
      border: 1px solid transparent;
      border-width: 4px;
      border-top-color: #969696;
      border-bottom: none;
      border-radius: 100%;
    }

    .jstyling-select-t {
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .jstyling-select-l {
    margin: 0;
    padding: 0 0 10px;
    display: none;
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 56px;
    background: $white;
    border-radius: 6px;
    max-height: 155px;
    overflow: auto;

    div {
      list-style: none;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      padding: 14.5px 20px;
      line-height: 1.2;
      cursor: pointer;
      position: relative;
      font-weight: 500;
      color: #969696;

      &:first-child {
        display: none;
      }
    }
  }

  &:hover {
    .jstyling-select-s {
      &:after {
        border-top-color: $white;
      }
    }
  }

  &.active {
    z-index: 700;
    border-color: $white;
    color: $white;

    .jstyling-select-s {
      &:after {
        transform: rotate(180deg);
      }
    }

    .jstyling-select-l {
      display: block;
    }
  }

  &.selected {
    color: rgba($white, 0.7);
  }
}

.form-field {
  margin: 0 0 24px;

  label {
    display: block;
    margin: 0 0 8px;
    opacity: 0.7;
    line-height: 141.7%;

    &.error {
      font-size: 0.8em;
      color: red;
      padding: 5px 0 0;
      margin: 0;
      opacity: 0.9;
    }
  }

  input {
    display: block;
    width: 100%;
    max-width: 492px;
    padding: 13px 19px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba($white, 0.7);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include placeholder-text;

    &:focus {
      @include placeholder-text($white, 1);
      border-color: $white;
    }

    &.error {
      border-color: red;
    }
  }

  @include media-breakpoint-down(md) {
    label {
      font-size: 14px;
      line-height: 141.7%;
      opacity: 1;
      margin: 0 0 10px;
    }

    input {
      padding: 13px 15px;
    }
  }
}
