.advantages-list {
  background-color: $gray3;

  .list {
    margin: 0 0 40px;

    .text {
      padding: 20px 0;
      text-align: center;
      position: relative;
      cursor: pointer;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        height: 1px;
        width: 40px;
        background: #dadada;
        transition: all 1s;
      }

      &.active {
        color: $red1;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }

    .number {
      font-weight: 500;
      font-size: 40px;
      line-height: 48px;
      margin: 0 0 10px;
    }
  }

  .advantages-image {
    text-align: center;
    position: relative;

    svg {
      display: block;
      width: 100%;
      height: auto;

      &.img-main {
        mix-blend-mode: luminosity;
      }

      &.img-overlay {
        @include abs;
      }
    }
  }

  .advantages-text {
    display: none;

    &.active {
      display: block;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0 0 15px;

      &:last-child {
        margin: 0;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .list {
      display: flex;
      flex-wrap: wrap;

      .text {
        width: 50%;

        &:after {
          display: none;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .list {
      justify-content: space-between;

      .text {
        padding: 0 20px;
        width: 25%;

        &:after {
          top: 50%;
          left: 100%;
          display: block;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .list {
      margin: 0 0 57px;

      .text {
        &:after {
          display: block;
        }
      }
    }

    figure {
      text-align: left;
    }
  }

  @include media-breakpoint-up(xl) {
    .list {
      .text {
        width: fit-content;
        padding: 0;

        &:after {
          left: calc(100% + 81px);
          transform: none;
        }

        .number {
          font-size: 60px;
          line-height: 62px;
          margin: 0 0 18px;
        }
      }
    }

    ul {
      li {
        margin: 0 0 12px;
      }
    }
  }
}
