.block-teams {
  .team-item {
    margin: 0 -$grid-gutter-width-m;

    .row {
      height: 100%;
    }

    .team-toggler {
      height: 100%;
      position: relative;
      cursor: pointer;

      .team-title {
        color: $text3;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        margin: 0 0 54px;

        .team-title-text {
          display: inline-flex;
          align-items: center;
          font-size: 16px;
          line-height: 19px;
          margin: 0 20px 0 0;
          padding: 8px 20px 8px 8px;
          border-radius: 30px;

          .team-letter {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            width: 28px;
            height: 28px;
            font-size: 14px;
            line-height: 17px;
            margin: 0 12px 0 0;
            background: #f7f8fa;
            -webkit-animation: rotate 2s ease-in-out 0s infinite forwards;
            animation: rotate 2s ease-in-out 0s infinite forwards;
          }
        }
      }

      .team-images {
        position: relative;
        overflow: hidden;
        margin: 0 0 40px;

        ul {
          margin: 0 -20px;
          padding: 0;
          list-style: none;
          display: flex;

          li {
            width: 100%;
            padding: 0 20px;

            img {
              display: block;
              width: 100%;
              height: auto;
              border-radius: 100%;
            }
          }
        }
      }

      .team-icons {
        position: relative;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        display: flex;
        justify-content: center;

        &:before {
          content: "";
          width: 1px;
          height: 34px;
          background-color: #f7f8fa;
          position: absolute;
          left: 50%;
          top: 16px;
        }

        .team-icon {
          width: 66px;
          height: 66px;
          border-radius: 100%;
          position: relative;
          font-size: 16px;
          text-transform: uppercase;
          position: relative;
          margin: 0 14px;
          padding: 2px;
          color: $text3;
          transition: all 0.2s;

          &:before {
            content: "";
            @include abs;
            border-radius: 100%;
          }

          &--blue {
            &:before {
              background: linear-gradient(to right, rgba(0, 68, 170, 1) 0%, rgba(0, 68, 170, 0) 100%);
            }

            &.active {
              background-color: $blue1;
              color: $white;

              &:before {
                display: none;
              }
            }
          }
          &--red {
            &:before {
              background: linear-gradient(to right, rgba(209, 0, 63, 1) 0%, rgba(209, 0, 63, 0) 100%);
            }
            &.active {
              background-color: $red1;
              color: $white;
              &:before {
                display: none;
              }
            }
          }

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            width: 100%;
            height: 100%;
            background-color: $white;
            position: relative;
            z-index: 2;
          }

          &.active {
            span {
              background-color: transparent;
            }
          }

          &:not(.active) {
            &:before {
              -webkit-animation: rotate 4s linear 0s infinite forwards;
              animation: rotate 4s linear 0s infinite forwards;
            }
          }
        }
      }

      &:hover {
        .team-title {
          .team-title-text {
            .team-letter {
              -webkit-animation: none;
              animation: rotate none;
            }
          }
        }
      }

      @keyframes rotate {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      @-webkit-keyframes rotate {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }

    .team-item-description {
      padding: 15px 10px;
      height: 100%;

      .team-item-description-top {
        margin: 0 0 75px;

        p {
          margin: 0 0 1.14em;
        }
      }

      .team-title {
        display: inline-flex;
        align-items: center;
        font-size: 16px;
        line-height: 19px;
        margin: 0 0 55px;
        padding: 8px 20px 8px 8px;
        border-radius: 30px;

        .team-letter {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          width: 28px;
          height: 28px;
          font-size: 14px;
          line-height: 17px;
          margin: 0 12px 0 0;
          background: #f7f8fa;
        }
      }

      .link-arrow {
        margin: 35px 0 0;
      }

      .team-item-description-bottom {
        border-top: 1px solid #f2e9eb;
        padding: 20px 0 0;

        h5 {
          margin: 0 0 13px;
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          margin: 0 -10px;
          padding: 0;
          list-style: none;

          li {
            width: calc(50% - 20px);
            border-top: 1px solid #f2e9eb;
            padding: 13px 0;
            margin: 0 10px 12px;

            &.last {
              @include media-breakpoint-down(md) {
                width: 100%;
              }
            }

            .number {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 31px;
              height: 24px;
              font-size: 12px;
              line-height: 16px;
              margin: 0 0 20px;
              font-family: $font-family-mono;
              border-radius: 20px;
              opacity: 0;
            }

            p {
              opacity: 0;
              transform: translateY(15px);
            }
          }
        }
      }
    }

    &--red {
      border-width: 1px 0 0;

      .team-toggler {
        .team-title {
          .team-title-text {
            background-color: #f0e6e9;
            color: $red1;

            .team-letter {
              color: $red1;
            }
          }
        }
      }

      .team-item-description {
        background: $red3;
        color: $darkred1;

        .team-title {
          background-color: $red4;
          color: $red1;

          .team-letter {
            color: $red1;
          }
        }

        .link-arrow {
          color: $darkred1;
          .icon {
            background: #fceff3;

            svg path {
              stroke: $darkred1;
            }
          }
        }

        .team-item-description-bottom {
          ul {
            li {
              .number {
                background: #f2e9eb;
              }
            }
          }
        }
      }
    }

    &--blue {
      .team-toggler {
        .team-title {
          .team-title-text {
            background-color: $blue5;
            color: $blue1;

            .team-letter {
              color: $blue1;
              background-color: $white;
            }
          }
        }
      }

      .team-item-description {
        background: $blue5;
        color: $darkblue1;

        .team-title {
          background-color: #dee3ec;
          color: $blue1;

          .team-letter {
            color: $blue1;
          }
        }

        .link-arrow {
          color: $darkblue1;
          .icon {
            background: #eff4fc;

            svg path {
              stroke: $darkblue1;
            }
          }
        }

        .team-item-description-bottom {
          ul {
            li {
              .number {
                background: #ebeff5;
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    width: 200vw;

    &.moved {
      transform: translateX(-50%);
    }

    .team-item {
      width: 100vw;
      opacity: 0;
      transition: opacity 1s;
      border: none;
      margin: 0;
      position: relative;

      &.active {
        opacity: 1;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
      }

      .team-toggler,
      .team-item-description {
        padding: 20px;
      }

      .team-item-description {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
        background-color: transparent;

        .team-item-description-top {
          font-size: 18px;
          line-height: 1.2;
        }

        .team-item-description-bottom {
          margin-top: auto;
        }
      }

      &--red {
        &:before {
          right: 0;
          background: $red3;
        }
      }

      &--blue {
        &:before {
          left: 0;
          background: $blue5;
        }
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    .team-item {
      position: relative;

      &:before {
        width: 49.25%;
      }

      .team-toggler {
        padding: 76px 38px 0 0;

        .team-title {
          font-size: 18px;
          line-height: 30px;
          font-weight: 500;
          margin: 0 0 75px;

          .team-title-text {
            font-size: 24px;
            line-height: 30px;
            margin: 0 25px 0 0;
            font-weight: 400;
          }
        }

        .team-images {
          margin: 0 0 75px;

          ul {
            margin: 0 -25px;

            li {
              padding: 0 25px;
            }
          }
        }
      }

      .team-item-description {
        padding: 76px 0 40px 74px;
        background-color: transparent;
        margin: 0 -20px 0 0;

        .team-title {
          font-size: 24px;
          line-height: 30px;
        }

        .team-item-description-bottom {
          ul {
            li {
              padding: 24px 20px 19px 0;
              margin: 12px 10px;

              .number {
                width: 37px;
                height: 30px;
                font-size: 14px;
                margin: 0 0 22px;
              }
            }
          }
        }
      }

      &--blue {
        .team-toggler {
          padding: 76px 0 0 38px;
        }

        .team-item-description {
          padding: 76px 74px 40px 0;
        }
      }
    }
  }
}
