.description-list {
  border: 1px solid $border;
  border-radius: 8px;

  .row {
    & > div {
      border-bottom: 1px solid $border;

      &:last-child {
        border: none;
      }

      &:nth-child(2n + 1) {
        .item {
          .tag {
            &:before {
              background: linear-gradient(to right, $red1 0%, rgba(0, 68, 170, 0) 100%);
            }
            span {
              background-color: $blue1;
            }
          }
        }
      }

      &:nth-child(2n) {
        .item {
          .tag {
            &:before {
              background: linear-gradient(to right, $blue1 0%, rgba(0, 68, 170, 0) 100%);
            }
            span {
              background-color: $red1;
            }
          }
        }
      }
    }
  }

  .item {
    padding: 20px;

    .tag {
      color: $white;
      border: none;
      position: relative;
      padding: 0;
      overflow: hidden;
      background-color: transparent;
      padding: 3px;
      height: auto;

      &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 200%;
        aspect-ratio: 1/1;
        border-radius: 30px;
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
        -webkit-animation: rotate1 2s linear 0s infinite forwards;
        animation: rotate1 2s linear 0s infinite forwards;
        transform-origin: center;
      }

      span {
        position: relative;
        padding: 0 8px 1px;
        display: inline-flex;
        align-items: center;
        border-radius: 30px;
        height: 26px;
      }

      @keyframes rotate1 {
        0% {
          transform: translate3d(-50%, -50%, 0) rotate(0);
        }
        100% {
          transform: translate3d(-50%, -50%, 0) rotate(360deg);
        }
      }
      @-webkit-keyframes rotate1 {
        0% {
          transform: translate3d(-50%, -50%, 0) rotate(0);
        }
        100% {
          transform: translate3d(-50%, -50%, 0) rotate(360deg);
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .row {
      & > div {
        &:nth-child(1) {
          border-right: 1px solid $border;
        }

        &:nth-child(3) {
          border-bottom: none;
          border-right: 1px solid $border;
        }

        &:nth-child(1),
        &:nth-child(4) {
          .item {
            .tag {
              &:before {
                background: linear-gradient(to right, $red1 0%, rgba(0, 68, 170, 0) 100%);
              }
              span {
                background-color: $blue1;
              }
            }
          }
        }

        &:nth-child(2),
        &:nth-child(3) {
          .item {
            .tag {
              &:before {
                background: linear-gradient(to right, $blue1 0%, rgba(0, 68, 170, 0) 100%);
              }
              span {
                background-color: $red1;
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .item {
      padding: 23px 50px 32px 30px;

      .tag {
        margin: 0 0 25px;
      }
    }
  }
}
