.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: 99999;
  padding: 110px 0 0;
  opacity: 0;

  .modal-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.28);
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s;
  }

  .modal-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    max-height: calc(100% - 112px);
    overflow: auto;
    transform: translateY(100%);
    transition: all 0.3s;
  }

  .container-fluid {
    overflow: hidden;
  }

  &.active {
    transform: translateY(0);
    opacity: 1;
    transition: none;

    .modal-bg {
      opacity: 1;
    }

    .modal-box {
      transform: translateY(0);
    }
  }
}
