*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
select,
textarea {
  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background: $white;
}

.page-wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &.page-wrapper-article {
    overflow: visible;
  }
}

.page-content {
  flex: 1 0 auto;
}

.page-footer {
  flex: 0 0 auto;
}

.container-fluid {
  --bs-gutter-x: #{$grid-gutter-width-m};
  max-width: 1376px;

  @include media-breakpoint-up(xl) {
    --bs-gutter-x: #{$grid-gutter-width};
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.banner {
  img {
    display: block;
    width: 100%;
    height: auto;
  }

  & + * {
    margin-top: 0 !important;
  }

  @include media-breakpoint-up(lg) {
    &.banner-top {
      img {
        max-height: 720px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

.border-top,
.border-bottom {
  border-color: #e8e8eb !important;
}

div {
  .tag {
    border: 1px solid #e0e0e1;
    padding: 0 8px 1px;
    display: inline-flex;
    align-items: center;
    border-radius: 30px;
    height: 26px;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
    margin: 0 0 12px;

    @include media-breakpoint-up(lg) {
      font-size: 14px;
      line-height: 17px;
      height: 29px;
      padding: 0 10px 1px;
      margin: 0 0 42px;
    }
  }
}

.wpcf7-response-output {
  display: none !important;
}

.btn-fixed {
  background: $red1;
  width: 45px;
  height: 45px;
  border-radius: 99px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;

  img {
    display: block;
    width: 24px;
    height: auto;
  }
}
