@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helveticaneue.woff2") format("woff2"), url("../fonts/helveticaneue.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helveticaneue-light.woff2") format("woff2"), url("../fonts/helveticaneue-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/helveticaneue-medium.woff2") format("woff2"), url("../fonts/helveticaneue-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
