body {
  color: $text-main;
  font-family: $font-family-base;
  font-weight: 400;
  @extend .font-1;
}

input,
select,
textarea,
button {
  font-family: $font-family-base;
}

p,
ol,
ul,
dl {
  margin: 0;
}

.font-1 {
  font-size: 14px;
  line-height: 18px;

  @include media-breakpoint-up(lg) {
    font-size: 16px;
    line-height: 22px;
  }
}

.font-2 {
  font-size: 14px;
  line-height: 18px;

  @include media-breakpoint-up(lg) {
    font-size: 16px;
    line-height: 1.15;
  }
}

.font-3 {
  font-size: 16px;
  line-height: 19px;

  @include media-breakpoint-up(lg) {
    font-size: 20px;
    line-height: 26px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 24px;
    line-height: 30px;
  }
}

.font-4 {
  font-size: 16px;
  line-height: 19px;

  @include media-breakpoint-up(lg) {
    font-size: 22px;
    line-height: 28px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 28px;
    line-height: 33px;
  }
}

.font-5 {
  font-size: 16px;
  line-height: normal;

  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 20px;
    line-height: 25px;
  }
}

.font-6 {
  font-size: 16px;
  line-height: 19px;

  @include media-breakpoint-up(lg) {
    font-size: 22px;
    line-height: 28px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 30px;
    line-height: 1.2;
  }
}

.font-7 {
  font-size: 16px;
  line-height: 1.16;

  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
  @include media-breakpoint-up(xxl) {
    font-size: 26px;
  }
}

h5 {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;

  @include media-breakpoint-up(lg) {
    font-size: 20px;
    line-height: 26px;
  }
}
