// Fonts
$font-family-base: "Helvetica Neue", sans-serif;
$font-family-mono: "Roboto Mono", monospace;

// Colors
$white: #fff;
$black: #000;
$black2: #121212;

$text-main: $black;
$text1: #333333;
$text2: #59595a;
$text3: #999999;

$blue1: #0044aa;
$blue2: #eff4fc;
$blue3: #f7f8fa;
$blue4: #d8dde5;
$blue5: #f5f7fa;
$blue6: #e1e5eb;

$darkblue1: #002b6b;
$darkblue2: #315488;
$darkblue3: #637da4;
$darkblue4: #dee3ec;

$link-hover-color: $darkblue1;

$red1: #d1003f;
$red2: #fceff3;
$red3: #fcf7f9;
$red4: #f0e6e9;

$darkred1: #6b0020;

$gray1: #292929;
$gray2: #dfdfe1;
$gray3: #f4f5f7;

$border: #e8e8eb;

// Container

$grid-gutter-width: 40px;
$grid-gutter-width-m: 12px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
  xxl: 1660px,
);

$spacer: 1rem;
$enable-negative-margins: true;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.25,
  5: $spacer * 1.5625,
  // 25
  6: $spacer * 1.875,
  // 30
  7: $spacer * 2.5,
  8: $spacer * 5,
  9: $spacer * 6.25,
  // 100
);

$btn-transition: all 0.3s ease;

$input-padding-y: 1rem;
$input-padding-x: 1rem;
$input-font-family: $font-family-base;
$input-font-size: 12px;
$input-font-weight: 400;
$input-line-height: 20px;
$input-bg: transparent;
$input-color: rgba(0, 43, 107, 0.8);
$input-border-color: rgba(0, 43, 107, 0.12);
$input-border-width: 1px;
$input-box-shadow: none;
$input-border-radius: 2px;

$input-focus-bg: $input-bg;
$input-focus-border-color: $input-border-color;
$input-focus-color: $input-color;
$input-focus-width: $input-btn-focus-width;
$input-focus-box-shadow: none;
$input-placeholder-color: $input-color;

$form-select-padding-y: $input-padding-y;
$form-select-padding-x: $input-padding-x;
$form-select-font-family: $input-font-family;
$form-select-font-size: $input-font-size;
$form-select-indicator-padding: $form-select-padding-x * 3; // Extra padding for background-image
$form-select-font-weight: $input-font-weight;
$form-select-line-height: $input-line-height;
$form-select-color: $input-color;
$form-select-bg: $input-bg;
$form-select-bg-position: right $form-select-padding-x center;
$form-select-bg-size: 8px 5px;
$form-select-indicator-color: $darkblue1;
$form-select-indicator: url("data:image/svg+xml,<svg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 1.5L4 4.5L7 1.5' stroke='#{$form-select-indicator-color}' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/></svg>");

$form-select-border-width: $input-border-width;
$form-select-border-color: $input-border-color;
$form-select-border-radius: $input-border-radius;
$form-select-box-shadow: none;

$form-select-focus-border-color: $input-focus-border-color;
$form-select-focus-width: $input-focus-width;
$form-select-focus-box-shadow: none;

$input-padding-y-lg: 1.06rem;
$input-padding-x-lg: 1.2rem;
$input-font-size-lg: 16px;
$form-select-bg-size-lg: 12px 8px;
